img {
    height: 450px;
    width: auto;
}

h1 {
    background-color: goldenrod;
    color: red;
    font-family: Garamond, 'Times New Roman', sans-serif;
    text-align: center;
}

p, h3 {
    color: darkred;
    font-size: 30px;
}

.ingredients, .steps {
    background-color: lavender;
    font-size: 20px;

}

.ingredients .optional {
    font-weight: bold;

}

button {
    background-color: goldenrod;
    color: red;
    text-align: center;
    
}
